@model CandyShop.Domain.Models.Candy

@{ 
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div class="thumbnail">
    <img src="@Model.ImageUrl" alt="@Model.Name"/>
    <div class="caption-full">
        <h3 class="pull-right">@Model.Price.ToString("C")</h3>
        <h3><a href="#">@Model.Name</a></h3>
        <p>@Model.Description</p>
    </div>
</div>
