@model CandyShop.Models.ShoppingCartViewModels.ShoppingCartIndexViewModel
@using System.Text.Encodings.Web

<h2>Shopping Cart: All your candy you love</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Number of Item</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td><a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart" asp-route-candyId=
                       "@item.Candy.CandyId">Remove Item</a></td>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@HtmlEncoder.Default.Encode(item.Candy.Name)</td>
                <td class="text-right">@HtmlEncoder.Default.Encode(item.Candy.Price.ToString("C"))</td>
                <td>@HtmlEncoder.Default.Encode(((item.Amount * item.Candy.Price).ToString("C")))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total</td>
            <td class="text-right">@HtmlEncoder.Default.Encode(Model.ShoppingCartTotal.ToString("c"))</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="ClearCart">Clear Cart</a>
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Checkout</a>
</div>
