@model CandyShop.Models.ShoppingCartViewModels.ShoppingCartIndexViewModel

<h2>Shopping Cart: All your candy you love</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Number of Item</th>
            <th>Candy</th>
            <th class="text-right">Price</th>
            <th class="text-right">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td class="text-center">@item.Amount</td>
                <td class="text-left">@item.Candy.Name</td>
                <td class="text-right">@item.Candy.Price.ToString("C")</td>
                <td>@((item.Amount * item.Candy.Price).ToString("C"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>
